:root {
  font-family: Inter, system-ui, "Segoe UI", Roboto, Arial, sans-serif;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
}

#root {
  width: 100%;
  min-height: 100svh;
  box-sizing: border-box;
}
